<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <div>

    </div>
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle nagivation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
      <a class="nav-item nav-link" href="/urls">My URLs</a>
      <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
    </div>
    <div class="navbar-nav">
      <% if (!user) { %>
        <form method="GET" action="/login">
          <button type="submit" class="btn btn-outline-light btn-sm">Login</button>
        </form>
        <form method="GET" action="/register">
          <button type="submit" class="btn btn-outline-light btn-sm">Register</button>
        </form>
        <% } else { %>
          <form method="POST" action="/logout">
            <h6 class="text-light">USER: <%= user.email %> </h6><button type="submit" class="btn btn-primary float-right">Logout</button> 
          </form>
          <% } %>
    </div> 
  </nav>
</header>