<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle nagivation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% if (!username) { %>
        <form method="POST" action="/login">
          <input class="form-control-sm" type="text" name="username" placeholder="Enter Username" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <% } else { %>
          <form method="POST" action="/logout" style="text-align: right;">
            <h6>Logged in as: <%= username %> </h6><button type="submit" class="btn btn-primary">Logout</button>
          </form>
          <% } %>
      </div>
    </div>
  </nav>
</header>